*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(34, 114, 255, 0.8);
}
.main_box{
    width: 100%;
    height: 75vh;
    display: grid;
    place-items: center;
}
.area{
    width: 50%;
    display: flex;
    justify-content: center;
}
.small_box{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    font-size: 3rem;
    color: white;
}
.box{
    border: 1px solid white;
    display: grid;
    place-items: center;
    z-index: 0;
}
.box:hover{
    background: rgba(220, 220, 220, 0.4);
}
.temp_box{
    display: grid;
    display: none;
}
.btn{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    display: none;
    place-items: center;
}
.btn button{
    padding: 12px 14px;
    background: white;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.btn button:hover{
    background: rgba(255, 255, 255, 0.9);
}
.btn h1{
    font-size: 3rem;
}
.turn{
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    color: white;
}